<ion-view view-title="Lists">      
    <ion-content class=""> 

        <div class="bar bar-header"> 
            
            <div class="bar h1 title">List of Tasks</div> 
        
        </div>      
    
        <br> 
        <br>
  
        
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="data.newTask" placeholder="Enter a task here">   
                
            </label>
           <label class="item item-input">
                <input type="text" ng-model="data.newDetails" placeholder="Task Details">   
            </label>
            <div class="list list-inset">
           
      <button class="button button-full button-positive" ng-click="addTask()">
          Submit New Task
      </button>
        </div>
        
        <ion-list>
        
            <ion-item class ="item-remove-animate item-icon-right" ng-repeat="task in tasks.tasks" type="item-text-warp" href = "#/tab/lists/{{task.id}}">
            
                <h3>{{ task.title }}</h3>
                            
                <h3 class = "dillon">{{ task.detail }}  <h4 class = "dillon"> {{task.added | date: 'dd-MM-yyyy'}} </h4> </h3>

                <ion-option-button class="button-assertive" ng-click="remove(item)">
                    Delete
            </ion-option-button>

                
            </ion-item>
        
        </ion-list>
    </ion-content>
</ion-view>