<ion-view view-title="Lists">      
    <ion-content class="padding"> 

        <div class=" bar detail"> 
             <a class="button icon-left ion-chevron-left button-clear button-dark" href = "#/tab/lists">Back</a>

            <div class="h1 title">Task Details</div> 
         
        </div>      
        
        <br>
        <br>
        <br>
        <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{tasks.newName}}</span>
    <input type="text" ng-model= "data.newName" placeholder="Edit entry...">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{tasks.newDetail}}</span>
    <input type="text" ng-model= "data.newDetail" placeholder="Edit entry...">
  </label>
            
                 
      <button class="button button-full button-positive" ng-click="editTask()">
          Save Edit
      </button>
</div>
        
    </ion-content>
</ion-view>